.img-container {
  cursor: pointer;
  transition: transform 0.3s;
}

.img-container:hover {
  transform: scale(1.2);
}

.textoBanner {
  margin-right: 40px;
}

.imagenBanner {
  margin-left: 40px;
}

.infoElSalvador {
  width: 100%;
  height: 100%;
  background-image: url('../Resources/AvionSV.svg');
  background-size: cover;
}

.circulo {
  background-color: white;
  border-radius: 50%;
  width: 500px;
  height: 500px;
  margin: 20px;
}
.country{
  padding-left: 30%;
  width: 70%;
}

@media (max-width: 768px) {
  .img-container {
    transition: transform 0.3s;
  }

  .imagen {
    width: 100px;
  }

  .img-container:hover {
    transform: scale(1.1);
    cursor: pointer;
  }

  .textoBanner {
    margin-right: 0px;
  }

  .imagenBanner {
    margin-left: 0px;
  }
  .circulo {
    background-color: white;
    border-radius: 50%;
    width: 40vh !important;
    height: 40vh;
  }
  .country{
    padding-left: 30%;
    width: 70%;
  }

  .infoElSalvador {
    width: 100%;
    height: 60vh;
    background-image: url('../Resources/AvionSV.svg');
  }
  .buttonSizes{
    --bs-btn-padding-y: 0.1rem !important;
    --bs-btn-padding-x: 0.8rem !important;
    width: 30vh;
    margin-top: 20px;
  }
  .logoMision{
    display: none ;
  }
  .logoVision{
    display: none;
  }
  .txt-Vision{
    text-align: center !important;
  }
  .txt-Mision{
    text-align: center !important;
  }
  .descript{
    padding: 0px 10px !important;
  }
}